<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diner</title>
    <link rel="stylesheet" href="./dinner.css">
</head>
<body>
    <div class="container">
        <div class="main-links">
            <h4>The Digi Main Menu</h4>
            <h1>Dinner Special laurels</h1>
            <div class="links">
                <ul>
                    <li><a href="../../../index.html" class="home">Home</a></li>
                    <li><a href="../../html/main_menu.html">Quick</a></li>
                    <li><a href="../breakfast/breakfast.html">Breakfast</a></li>
                    <li><a href="../lunch/lunch.html">Lunch</a></li>
                    <li><a href="../dinner/dinner.html" class="active">Dinner</a></li>
                    <li><a href="../dessert/dessert.html">Dessert</a></li>
                </ul>
                <div class="button">
                    <button><a href="../../html/reservations.html">Book a dish</a></button>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="head-text">
                <h1>Mountain Finest dining</h1>
                <small>
                    This' the dinner taken for great couples &#128512;
                </small>
            </div>
                <div class="main-text">
                    <div class="main-dinner">
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic2.png" alt="">
                        </div>
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic5.png" alt="">
                        </div>
                    </div>
                    <div class="main-dinner1">
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="dinner1">
                            <div class="text">
                                <h3>Duck a l'Orange</h3>
                                <p>Roast duck with a bigarade sauce and oranges</p>
                            </div>
                            <img src="../../images/pic1.png" alt="">
                        </div>
                    </div>
                </div>
        </div>
        <div class="button1">
            <button type="button">Explore more</button>
        </div>
    </div>
    
</body>
</html>