.image{
    background-image: url("/assets/images/ae49559c-314a-41c5-9888-b4e831923757.jpeg");
    height: 80vh;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:100% 100%;
    
}
.body{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
    
}
.heading{
    text-align: center;
    font-weight: bold;
    color: #ffff;
    font-size: 80px;
    padding-top: 10%;
}
#button{
    background-color: #ed5625ff;
    width: 400px;
    padding: 20px 0px;
    border: none;
    margin-left: 40%;
    border-radius:40px ;
    color: #ffff;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
#password{
    text-align: center;
    color: #ffff;
    font-size: x-large;
}