.image{
    background-image: url("/assets/images/ae49559c-314a-41c5-9888-b4e831923757.jpeg");
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    
    
}
.overlay{
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
    
}
.body{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
    
}
.heading{
    text-align: center;
    font-weight: bold;
    color: #ffff;
    font-size: 80px;
    padding-top: 5%;
}
#button{
    background-color: #ed5625ff;
    width: 400px;
    padding: 20px 0px;
    border: none;
    margin-left: 40%;
    border-radius:40px ;
    color: #ffff;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
#password{
    text-align: center;
    color: #ffff;
    font-size: x-large;
}
#name{
    text-align: justify;
    margin-left:40% ;
    color: #ffff;
    font-size: x-large;
    
}
#pass{
    text-align: justify;
    margin-left:40% ;
    color: #ffff;
    font-size: x-large;
}
