.image{
    background-image: url("/assets/images/ae49559c-314a-41c5-9888-b4e831923757.jpeg");
    height: 80vh;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:100% 100%;
    
}
.body{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
    
}