@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');

/* General styles*/
*{
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    
    font-family: 'Cormorant Upright', serif;
    color: white;
    overflow-x: hidden;
    
    
}
li {
    list-style: none;
}
li:hover {
    color:#ed5625ff;;
    cursor: pointer;
}

/* =========================================The first section ======================================================*/
.containerTop {
   background-image: url('/assets/css/back6.jpg');
   height: 65%;
   background-position: 50% 65%;
   background-repeat: no-repeat;
   background-size: cover;
   filter: blur(2px);
   z-index: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    z-index: 2;
    position: absolute;
    top: 4vh;
    left: 3vw;
    color: white;
    width: 90%;
    margin: auto;
    gap: 3rem;
}
/* code for hamburger menu */
.dropDown {
    width: 8vw;
    position: absolute;
    top: 5.5vh;
    right: 9vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    
    
}
.down{
    background-color: #ed5625ff;
    width: 90%;
    height: 25%;
    content: "";
    
}
/*code for navbar items */
.navItems {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.logo {
    width: 30%;
    font-size: 3rem;
    font-family: monospace;
    font-weight: 600;    
}
.navChild {
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

/* ===========================Second container=================================================== */

.shouting {
    position: absolute;
    top: 25%;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hero {
    font-size: 6rem;
    font-weight: 600;
    padding-left: 7rem;
}
.subHero {
    font-size: 1.5rem;
    width: 70%;
    margin-top: 2rem;
}
/* ================================Third container =========================================*/

.containerMid {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 2rem 0;
    width: 90%;
    margin: auto;
    padding: 2rem;
    height: 50vh;
    overflow: hidden;
}

.midImage {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 30%;
}

.glass{
    height: 50%;
}

.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.addressTitle {
    height: 25%;
    gap: 1em 0;
}
.addressTitle p {
    font-size: 2rem;
    color: #ed5625ff;
}
.contacts {
    height: 20%;
    display: flex;
    flex-flow: wrap;
   
}
.contacts input {
    width: 30%;
    margin: 0 0.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1.2em;
}

.separate {
    height: 3vh;

}

/* ==============reservation details section =============================*/
.times {
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    height: 20vh;
    font-size: 1.5rem;
}
.times div {
    width: 30%;
    text-align: center;
}
.times div p:first-child {
    font-weight: bold;
    
}
.times div p:last-child {
    font-weight: 100;
}

/* ==============================================Footer =====================================================*/



/* =============================================media queries============================================================ */

@media screen and (max-width: 640px) {
    html {
        padding: 0;
        margin: 0;
        width: 95%;
        height: 100%;

        
    }
    * {
        box-sizing: border-box;
    }

    .droplink {}
    .containerTop {
        background-image: url('/assets/css/back6.jpg');
        background-size: cover;
        background-position: 50% 70%;
        height: 40vh;
    }
    .logo {
        font-size: 2rem;
    }
    
    .navItems {
        display: none;
    }
    .dropDown {
        display: flex;
        gap:3px;
        border-radius: 5px;
        right: 12vw;
        top: 4.5vh;
        cursor: pointer;
    }
    .down {
        height: 7px;
    }
    .down:hover {
        cursor: pointer;
    }

    .hero {
        font-size: 3.5rem;
        padding-left: 0;
        margin-left: -2rem;
    }
    .subHero {
        font-size: 1.3rem;
        margin-left: -2rem;
    }
    .containerMid {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-between;
        margin: 0;
        
        width: 90%;
        margin: auto;
        height: 0;
        overflow-x: hidden;
        display: none;
    }
    .midImage {
        display: none;
    }
    address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.addressTitle {
    height: 25%;
    gap: 1rem 0;
}
.addressTitle p {
    font-size: 2rem;
    color: #ed5625ff;
}
.contacts {
    height: 20%;
    display: flex;
    flex-flow: wrap;
  
}
.contacts input {
    width: 30%;
    margin: 0 0.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1.2em;
}
.shouting {
    position: absolute;
    top: 13%;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.separate {
    height: 3vh;
}
.times {
    display: none;
}
    .container {
        width: 74%;
        margin: auto;
    }
    .container p {
        color: #ed5625ff;
        font-size: 2rem;
        margin: 0;
    }
    .contacts {
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin: 2rem 1rem 0 0;
        
    }
    .contacts input {
        width: 35%;
        font-size: 15px;
    }

}