<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../components/breakfast/breakfast.css">
</head>
<body>
    <div class="main-content">
        <div class="main-links">
            <h4>The Digi Main Menu</h4>
            <h1>Breakfast's Special</h1>
            <div class="links">
                <ul>
                    <li><a href="../../../index.html" class="home">Home</a></li>
                    <li><a href="../../html/main_menu.html">Quick</a></li>
                    <li><a href="./breakfast.html"  class="active">Breakfast</a></li>
                    <li><a href="../lunch/lunch.html">Lunch</a></li>
                    <li><a href="../dinner/dinner.html">Dinner</a></li>
                    <li><a href="../dessert/dessert.html">Dessert</a></li>
                </ul>
                <div class="button">
                    <button><a href="../../html/reservations.html">Book a dish</a></button>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>2 for 1 family specials</h2>
            <div class="main-cont">
                <div class="left">
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
        
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
        
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/pic1.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/quick.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
        
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/quick.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
        
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/quick.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="image1">
                            <img src="../../images/quick.png" alt="">
                        </div>
                        <div class="line"></div>
                        <div class="descrip">
                            <p>White Coffee</p>
                            <small>Ksh. 200</small><br />
                            <small class="smaller">American Finest |</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>