<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert</title>
    <link rel="stylesheet" href="./dessert.css">
</head>
<body>
    <div class="container">
        <div class="main-links">
            <h4>The Digi Main Menu</h4>
            <h1>Breakfast's Special</h1>
            <div class="links">
                <ul>
                    <li><a href="../../../index.html" class="home">Home</a></li>
                    <li><a href="../../html/main_menu.html">Quick</a></li>
                    <li><a href="../breakfast/breakfast.html">Breakfast</a></li>
                    <li><a href="../lunch/lunch.html">Lunch</a></li>
                    <li><a href="../dinner/dinner.html">Dinner</a></li>
                    <li><a href="../dessert/dessert.html"  class="active">Dessert</a></li>
                </ul>
                <div class="button">
                    <button><a href="../../html/reservations.html">Book a Dish</a></button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-text">
                <h1>Desserts</h1>
                <div class="text1">
                    <h3>Key Lime pie <span>$8</span></h3>
                    <p>Tangy Custard with Graham Cracker 
                        crust. Wripped cream and lime zest
                    </p>
                </div>

                <div class="text1">
                    <h3>Newyork cheesecake <span>$8.55</span></h3>
                    <p>Topped with caramel, chocolate curls and cocoa powder
                    </p>
                </div>

                <div class="text1">
                    <h3>Apple crisp <span>$9</span></h3>
                    <p>Fresh seasonal apples sreusel Topping cinnamon ice cream
                    </p>
                </div>

                <div class="text1">
                    <h3>Mixed Berries <span>$8.50</span></h3>
                    <p>Fresh mixed berries with brown sugar and charbord topped with Fresh Whipped cream
                    </p>
                </div>
                <div class="text1">
                    <h3>Chocolate Molten Lava Cake <span>$10.05</span></h3>
                    <p>Warm Chocolate Lava Cake Spices with Kentucky Bourbon and seerved with butter ice cream.
                    </p>
                </div>
                <div class="text1">
                    <h3>Chocolate <span>$11</span></h3>
                    <p>Chocolate shells with a choice of a white, milk or dark chocolate ganache
                    </p>
                </div>
            </div>

            <div class="image">
                <img src="../../images/dessert.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>