<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lunch.css">
</head>
<body>
    <div class="container">
        <div class="main-links">
            <h4>The Digi Main Menu</h4>
            <h1>Breakfast's Special</h1>
            <div class="links">
               <label id="icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </label>
                <ul class="link">
                    <li><a href="../../../index.html" class="home">Home</a></li>
                    <li><a href="../../html/main_menu.html">Quick</a></li>
                    <li><a href="../breakfast/breakfast.html">Breakfast</a></li>
                    <li><a href="./lunch.html"   class="active">Lunch</a></li>
                    <li><a href="../dinner/dinner.html">Dinner</a></li>
                    <li><a href="../dessert/dessert.html">Dessert</a></li>
                </ul>
                <div class="button">
                    <button><a href="../../html/reservations.html">Book a dish</a></button>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="head-text">
                <h2>Leta your bae for Lunch &#128512; 	&#128517;</h2>
            </div>
            <div class="cards">
                <div class="card1">
                    <h3>01. Dessert</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$20</p>
                    </div>
                </div>
                <div class="card2">
                    <h3>02. Beverages</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$21</p>
                    </div>
                </div>
                <div class="card3">
                    <h3>03. Steaks</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$4.9</p>
                    </div>
                </div>
                <div class="card4">
                    <h3>04. Salads</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$20</p>
                    </div>
                </div>
                <div class="card5">
                    <h3>05. Spicy snack</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$33</p>
                    </div>
                </div>
                <div class="card6">
                    <h3>06. Spicy Beef</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$12</p>
                    </div>
                </div>
                <div class="card7">
                    <h3>07. Cocktail</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$9</p>
                    </div>
                </div>
                <div class="card8">
                    <h3>08. Juice</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$5.6</p>
                    </div>
                </div>
                <div class="card9">
                    <h3>09. Fried Calamari</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$40</p>
                    </div>
                </div>
                <div class="card1">
                    <h3>10. Liqour</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$2.5</p>
                    </div>
                </div>
                <div class="card11">
                    <h3>11. Bowl of Fries</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$31</p>
                    </div>
                </div>
                <div class="card12">
                    <h3>12. Bowl of Warm</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse modi ratione perspiciatis ipsa perferendis labore eligendi! Corrupti dolores eos quo doloremque id, pariatur esse voluptatibus, officia voluptatem nostrum ea est.</p>
                    <img src="../../images/pic2.png" alt="">
                    <div class="price">
                        <p>$300</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <script src="./lunch.js"></script>
</body>
</html>